<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
    <style>
        .title {
            text-align: center;
        }

        .registration {
            margin: 0 auto;
            padding-top: 30px;

            max-width: 200px;

            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .btn {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div>
        <div class="title">Регистрация</div>
        <div class="registration">

            <label for="username_input">Имя пользователя:</label>
            <input type="text" name="username" id="username_input">

            <br>

            <label for="password_input">Пороль:</label>
            <input type="password" name="password" id="password_input">

            <button class="btn" onclick="signUp()">Sign-Up</button>

        </div>
    </div>

    <script>
        let api = "http://185.139.70.93:8000"

        let username = document.getElementById("username_input");
        let password = document.getElementById("password_input");

        function signUp() {
            username = username.value
            password = password.value

            serverSignUp(username, password)
        }

        function serverSignUp(username, password) {
            let xhr = new XMLHttpRequest()

            let body = `{"username":"${username}","password":"${password}"}`

            xhr.open("POST", api+"/api/auth/sign-up", false)
            xhr.send(body.toString())

            if (xhr.status != 200) {
                alert(xhr.status + ": " + xhr.statusText)
            } else {
                alert(xhr.responseText)
                document.location.href = document.location.href + "signIn.html"
            }
        }
    </script>
</body>
</html>